@import './Menu.css';
@import './Header.css';
@import './Home.css';

.App-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-width: 1800px;
  max-height: 970px;
  margin: auto auto;
}
